<footer class="footer">
  <div class="container">
    <div class="flex flex-align-center flex-justify-sb">
      <div class="footer-logo">
        <img src="img/Logo.svg">
      </div>
      <div class="footer-social">
        <a href="javascript:void(0)" class="footer-social__link"><i class="fab fa-vk"></i></a>
        <a href="javascript:void(0)" class="footer-social__link"><i class="fab fa-instagram"></i></a>
        <a href="javascript:void(0)" class="footer-social__link"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="flex flex-justify-sb footer-copyright">
      <div>
        <a href="javascript:void(0)" class="footer-copyright__link">Пользовательское соглашение</a>
        <a href="javascript:void(0)" class="footer-copyright__link">Поддержка</a>
      </div>

      <div class="footer-author"><span>© 2019 Yougifted</span>, все права защищены</div>
    </div>
  </div>
</footer>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<script src="js/build.js"></script>