	<header class="header-auto">
		<div class="container">
			<div class="flex flex-align-center">
				<div class="header-auto__logo">
					<img src="img/logo-light.svg">
					<div class="header-auto__logo-text">ВидеоТренировки для дома</div>
				</div>

				<div class="flex flex-align-center header-auto__person">
					<div class="header-auto__avatar">
						<img src="img/trainer1.png">
					</div>
					<div class="header-auto__name">Валерия Петрова</div>
				</div>
			</div>
		</div>
	</header>