*
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family: "Open Sans"
  overflow-x: hidden
  margin: 0

.container
  width: 1199px
  margin: auto

.flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

.flex-justify-sb
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  justify-content: space-between

.flex-justify-start
  -webkit-justify-content: flex-start
  -moz-justify-content: flex-start
  -ms-justify-content: flex-start
  -o-justify-content: flex-start
  justify-content: flex-start

.flex-align-center
  -webkit-align-items: center
  align-items: center

.text-center
  text-align: center

.header
  padding-top: 25px
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 1
  &-logo
    img
      width: 150px
      height: auto
      display: inline-block
      margin-right: 30px
    &__text
      font-family: "Open Sans"
      font-style: normal
      font-weight: 600
      font-size: 13px
      line-height: 21px
      border-left: 1px solid $white-color
      padding-left: 30px
      text-transform: uppercase
      color: $white-color
      display: inline-block
      vertical-align: top
  &-block
    margin: auto
  &-info
    color: $white-color
    text-align: center
    &__title
      font-size: 18px
      margin-bottom: 8px
      line-height: 1
      margin-top: 2px
    &__text
      font-size: 14px
      line-height: 16px
  &-info-1
    width: 165px
    margin-right: 4px
  &-info-2
    width: 149px
    margin-right: 2px
  &-info-3
    width: 170px
    margin-right: 2px
  &-info-4
    width: 140px
  &-login
    display: block
    margin-left: auto
    color: $white-color
    font-size: 14px
    text-decoration: none
    font-weight: 600

.header-auto
  padding-top: 17px
  background: #E5E5E5
  &__logo
    img
      width: 150px
      height: auto
      margin-right: 21px
    &-text
      font-family: "Open Sans"
      font-style: normal
      font-weight: 600
      font-size: 13px
      line-height: 21px
      border-left: 1px solid #4B4B4B
      padding-left: 21px
      text-transform: uppercase
      color: #4B4B4B
      display: inline-block
      vertical-align: top
  &__person
    margin-left: auto
    cursor: pointer
  &__avatar
    height: 30px
    width: 30px
    margin-right: 10px
    border-radius: 50%
    overflow: hidden
    img
      width: 100%
      height: auto
  &__name
    font-family: "Proxima Nova"
    font-weight: 600
    font-size: 12px
    line-height: 12px
    color: #4B4B4B

.main-banner
  height: 720px
  mix-blend-mode: multiply
  background-image: url('../img/BG.png'), linear-gradient(88.95deg, #717171 -18.64%, rgba(113, 113, 113, 0) 64.83%, rgba(255, 255, 255, 0) 64.84%)
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.choice
  background: $white-color
  padding: 68px 0 50px 0
  &-title
    width: 350px
    min-width: 350px
    margin-left: auto
    margin-right: 65px
    font-family: "Proxima Nova"
    font-weight: 600
    font-size: 24px
    line-height: 30px
    text-align: right
    position: relative
    &:before
      content: ''
      display: block
      height: 70px
      width: 50px
      position: absolute
      background-image: url('../img/Arrow.svg')
      background-repeat: no-repeat
      background-position: top center
      background-size: contain
      transform: rotate(180deg)
      left: -30px
      top: -42px
  &-text
    width: 50%
    max-width: 500px
    font-family: "Proxima Nova"
    font-weight: lighter
    font-size: 16px
    line-height: 22px
    color: #4B4B4B
    margin-right: 90px

.trainer
  background: #EDF1F5
  padding: 38px 0 128px
  &-title
    margin-bottom: 50px
    font-family: 'Proxima Nova'
    font-weight: 100
    color: #4B4B4B
  &-slider
    width: 90%
  &-slide
    text-align: center
  &-photo
    height: 120px
    width: 120px
    border-radius: 50%
    overflow: hidden
    margin: auto
    margin-bottom: 17px
    img
      width: 100%
      height: auto
  &-name
    text-transform: uppercase
    font-family: "Proxima Nova"
    font-size: 16px
    line-height: 18px
    text-align: center
    color: #303030

.free
  padding: 60px 0 46px 0
  background: $white-color
  position: relative
  &-title
    position: absolute
    top: -25px
    left: 0
    right: 0
    text-align: center
    color: #303030
    font-weight: 300
    line-height: 1.4
    span
      padding: 0 10px
      font-weight: 400
      color: $white-color
      background: #EF16B0
  &-info
    max-width: 500px
    margin: auto
    text-align: center
    font-family: "Proxima Nova"
    font-size: 16px
    font-weight: 300
    line-height: 22px
    color: #4B4B4B
    margin-bottom: 28px
    position: relative
    &:after
      content: ''
      height: 70px
      width: 50px
      position: absolute
      top: 35px
      right: 0px
      background-image: url('../img/Arrow.svg')
      background-repeat: no-repeat
      background-position: top center
      background-size: contain
  &-form


.footer 
  background: $black-color
  color: $white-color
  padding: 39px 0 34px 0
  a 
    color: $white-color
    text-decoration: none
  &-logo
    width: 150px
    height: auto
    img
      width: 100%
      height: auto
  &-social
    font-size: 14px
    line-height: 18px
    height: 18px
    &__link
      display: inline-block
      margin-right: 20px
      &:last-child
        margin-right: 0
  &-copyright
    margin-top: 37px
    border-top: 1px solid $white-color
    padding-top: 27px
    &__link
      font-size: 14px
      line-height: 15px
      margin-right: 34px
      font-family: "Open Sans"
      font-style: normal
      font-weight: 600
      &:last-child
        margin-right: 0
      &:hover
        text-decoration: underline
  &-author
    font-family: "Open Sans"
    font-weight: 300
    font-size: 13px
    line-height: 15px
    color: $gray-color
    span
      text-transform: uppercase
      font-weight: 600
      line-height: 15px

.footer-light
  background: $white-color
  a
    color: #4B4B4B
  .footer-copyright
    border-color: #9DA7AC

.checkout
  background: #E5E5E5
  padding: 40px 0 92px 0
  &-block
    width: 100%
  &-title
    margin-bottom: 25px
  &-info
    width: auto
  &-payment
    width: 361px
    min-width: 391px
    margin-left: auto
    background: $white-color
    border-radius: 5px
    padding: 30px 31px 22px 36px
  &-sum
    font-family: "Proxima Nova"
    font-size: 16px
    line-height: 35px
    font-weight: 600
    span
      font-size: 22px
      color: $green-color
  .input
    margin-bottom: 22px
  .form-checkbox
    margin: 22px 0 21px 0
  .hint
    display: inline-block
    border-radius: 50%
    background: #D8E5EB
    color: $white-color
    height: 14px
    width: 14px
    text-align: center
    line-height: 14px
    font-size: 11px
    margin-left: 5px
    position: relative
    z-index: 2
    &:hover + .hint-text
      display: block
    &-text
      display: none
      position: absolute
      background: #C4C4C4
      color: #000000
      font-family: "Proxima Nova"
      font-size: 10px
      line-height: 12px
      width: 318px
      right: 0
      margin-top: 10px
      padding: 9px 14px  13px 13px
      border-radius: 5px
      text-align: left
      &:hover
        display: block
  .btn-green
    width: 100%
    height: 50px
    border-radius: 50px
    font-size: 14px
    font-weight: 600
  .form-group
    margin-left: 0
    margin-top: 38px
    margin-bottom: 17px
    .form-input
      width: 313px
    .form-button
      width: 93px


.subscription
  background: #E5E5E5
  padding: 122px 0 200px 0
  &-icon
    height: 34px
    width: 34px
    border-radius: 50%
    background-color: $green-color
    position: relative
    margin: auto
    margin-bottom: 28px
    &:before
      content: ''
      display: block
      position: absolute
      top: 5px
      left: 12px
      height: 16px
      width: 8px
      border: solid $white-color
      border-width: 0 3px 3px 0
      transform: rotate(45deg)

  &-title
    text-align: center
    margin-bottom: 32px
  &-link
    display: block
    text-decoration: none
    margin: auto
    height: 40px
    border-radius:
    width: 289px
    border-radius: 40px
    line-height: 40px
    text-align: center
    font-weight: 400
