.btn-green
	border: none
	background-color: $green-color
	color: $white-color
	font-family: 'Proxima Nova'
	font-weight: normal
	text-transform: uppercase
	cursor: pointer
	transition: 0.25s
	&:focus
		outline: none
	&:hover
		transition: 0.25s
		background-color: #30b508

.btn-gray
	border: none
	background-color: #8B8B8B
	color: $white-color
	font-family: 'Proxima Nova'
	font-weight: normal
	text-transform: uppercase
	cursor: pointer
	transition: 0.25s
	&:focus
		outline: none

.input
	height: 40px
	width: 100%
	border: 0.5px solid #9DA7AC
	box-sizing: border-box
	border-radius: 5px
	padding-left: 15px
	font-family: "Proxima Nova"
	font-size: 16px
	line-height: 22px
	&:placeholder
		color: #C4C4C4

.form
	&-group
		position: relative
		height: 50px
		margin: auto
		width: 364px
	&-input
		position: absolute
		left: 0
		background: #FFFFFF
		border: 1px solid #D7DBDC
		box-sizing: border-box
		border-radius: 5px
		height: 50px
		padding-left: 31px  
		width: 277px
		font-family: "Proxima Nova"
		font-size: 16px
		color: #4B4B4B
		&:focus
			outline: none
	&-button
		height: 50px
		border-radius: 40px
		width: 165px
		position: absolute
		right: 0
		z-index: 1
		font-size: 14px

.form-checkbox
	text-align: left
	position: relative
	width: 100%
	cursor: pointer
	&__input
		padding: 0
		height: initial
		width: initial
		margin-bottom: 0
		display: none
		cursor: pointer
		&:checked + .form-checkbox__label:before
			background-color: $green-color
	&__label
		display: block
		position: relative
  		cursor: pointer
  		font-family: "Proxima Nova"
		font-size: 12px
		line-height: 16px
		color: #303030
		padding-left: 25px
		&:before
			content: ''
			display: block
			height: 20px
			width: 20px
			border-radius: 5px
			position: absolute
			left: 0
			top: -2px
			box-sizing: border-box
			border: 1px solid $green-color
		&:after
			content: ''
			display: block
			height: 9px
			width: 4px
			border: solid $white-color
			border-width: 0 2px 2px 0
			transform: rotate(45deg)
			position: absolute
			left: 7px
			top: 1px

.payment
	margin-top: 24px
	position: relative
	width: 233px
	height: 198px
	min-width: 233px
	margin-right: 27px
	cursor: pointer
	&:last-child 
		margin-right: 0
	&-input
		padding: 0
		height: initial
		width: initial
		margin-bottom: 0
		display: none
		cursor: pointer
		&:checked + .payment-label
			box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15)
		&:checked + .payment-label:before
			display: block
		&:checked + .payment-label:after
			display: block
	&-label
		display: block
		background-color: $white-color
		border-radius: 5px
		height: 100%
		padding-top: 40px
		position: relative
  		cursor: pointer
		&:before
			content: ''
			display: none
			height: 48px
			width: 48px
			box-sizing: border-box
			border-radius: 50%
			position: absolute
			top: -24px
			left: 0
			right: 0
			margin: auto
			border: 7px solid $white-color
			background-color: $green-color
		&:after
			content: ''
			display: none
			position: absolute
			top: -13px
			left: 0
			right: 0
			width: 10px
			height: 18px
			margin: auto
			border: solid $white-color
			border-width: 0 3px 3px 0
			transform: rotate(45deg)
	&-time
		font-family: "Proxima Nova"
		font-weight: 600
		font-size: 16px
		line-height: 22px
		color: #303030
		margin-bottom: 13px
	&-price
		font-family: "Proxima Nova"
		font-size: 36px
		line-height: 42px
		letter-spacing: -0.5px
		margin-bottom: 13px
		color: #303030
		span
			font-size: 26px
	.small
		width: 197px
		margin: auto
		padding-top: 23px
		border-top: 1px solid #D8E5EB

.payment-method
	position: relative
	width: 100%
	height: 40px
	min-width: 100%
	margin-bottom: 13px
	cursor: pointer
	&:last-child 
		margin-bottom: 0
	&__input
		padding: 0
		height: initial
		width: initial
		margin-bottom: 0
		display: none
		cursor: pointer
		&:checked + .payment-method__label
			background-color: #F8F9FA
		&:checked + .payment-method__label:after
			background-image: url('../img/check-green.svg')
	&__label
		position: relative
		cursor: pointer
		display: flex
		background: $white-color
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
		border-radius: 5px
		width: 100%
		height: 100%
		line-height: 40px
		text-align: left
		&:after
			content: ''
			display: block
			height: 12px
			width: 15px
			background-image: url('../img/check.svg')
			background-size: contain
			background-position: center
			background-repeat: no-repeat
			position: absolute
			top: 0
			bottom: 0
			right: 15px
			margin: auto
	&__icon
		width: 89px
		min-width: 89px
		padding-left: 15px
		img
			margin-right: 3px
			&:last-child
				margin-right: 0
