$black-color: #001624
$white-color: #fff
$gray-color: #9DA7AC
$green-color: #35D205

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'),  url('../fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Bold.eot')
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Light.ttf')
  src: local('Proxima Nova Light'), local('ProximaNova-Light'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
  font-weight: lighter
  font-style: normal


.h1
	font-size: 36px
	line-height: 1.5
	text-transform: uppercase
	font-family: "Proxima Nova"

.h3
  font-family: "Proxima Nova"
  font-size: 24px
  font-weight: 600
  line-height: 30px
  color: #303030

.text
  font-family: Proxima Nova
  font-weight: 400
  font-size: 16px
  line-height: 22px
  color: #4B4B4B

.small
  font-family: "Proxima Nova"
  font-size: 12px
  font-weight: 400
  line-height: 16px
  color: #4B4B4B

.text-center
  text-align: center
